
<div style = "border-left: 5px solid #ddd" class = "ps-5" >
<figure>
  <blockquote class="blockquote">
    <p><%= @question %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Me :
  </figcaption>
</figure>
</div>

<div style = "border-left: 5px solid #ddd ; background: #FFFFE1" class = "ps-5">
<figure>
  <blockquote class="blockquote">
    <p><%= @answer %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Coach :
  </figcaption>
  </div>
</figure>
</div>

<%= link_to "Ask a new question", 'ask' %>
