<div class = "w-50">
<form action="/answer" method="get" data-turbo="false">
<label class = "form-label" for="question">"Ask your coach anyhting"</label>
  <div class="input-group mb-3">
  <input width = "50%" type="text" name = "question" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-primary" type="submit" id="button-addon2">Ask</button>
</div>
</form>
</div>
